.dashabaord{
}

.dashabaord .dashabordCard{
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
}

.dashabaord .StockByCategory{
    width: 90%;
    display: flex;
    gap: 1rem;
    margin-top: 4rem;
    margin-left: 1rem;

}