
.sidebar{
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 5px;
    gap: 3rem;

}



.sidebar_logo{
    width: 100%;
    height: 2vh;
    font-size: 2rem;
}


.sidebar_logo:hover{
    color: var(--accent);
    animation: 2s;
}




.sidebar_content{
    width: 100%;
    height: 60vh;
}

.sidebar_content ul{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    font-size: 19px;
    margin-top: 4rem;

    gap: 1.5rem;
}

.icons{
    display: flex;
    align-items: center;
    gap: 0.4rem;
    fill: var(--accent);
}


.sidebar_content ul li:hover{
    color: var(--accent);
    font-size: 18px;
    animation: 2s;
}


sidebar_user {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    padding-bottom: 1rem;
  }
  
  .sidebar_user button {
    background: none;
    border: none;
    color: #b0b6c1;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    text-align: left;
    padding: 0.3rem 0;
  }
  

  .sidebar_user :hover{
    color: var(--accent);
    font-size: 18px;
    animation: 2s;
  }